*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100%; */
}


.header{
    width: 100vw;
}
.search-navbar{
    width: 100%;
    height: 60px;
    background-color: #0F1111;
}
.second-navbar{
    height: 39px;
    width: 100%;
    background-color: #232F3E;
}
.third-navbar{
    height: 33px;
    width: 100%;
    border-bottom:solid 0.666667px rgba(0, 0, 0, 0.1);
}
.ad-navbar{
    position: relative;
    display: flex;
    height: 55px;
    width: 100%;
    background-color: #F6F7F8;
    border-bottom:solid 1.3px rgb(229, 231, 235);
    border-top:solid 0.666667px rgb(229, 231, 235);
    border-right:solid 0.666667px rgb(229, 231, 235);
    align-items: center;
    justify-content: center;
}
.ad-navbar .ad-img{
    height: 100%;
}

.main-container{
    position: relative;
    height: 230vh;
    width: 100%;
    border: solid 3px blue;
    overflow: hidden;
}
.sponsored-text{
    color: rgb(85, 85, 85);
    display: inline-block;
    vertical-align: text-bottom;
    margin: 1px 0px;
    line-height: 20px;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 11px;
    cursor: pointer;
}

/* .sponsored-text:hover{
    
    color: rgb(67, 67, 67);
} */

.sponsored-text-1{
    position: absolute;
    top: 2px;
    right:0px;
}
.list-of-categories {
    list-style-type:'›';
    margin: 8px;
    overflow: hidden;
    /* list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px; */
}

.list-of-categories li {
    float: left;
    line-height: 14px;
  }
  .list-of-categories li:nth-child(1){
    list-style-type:none;
  }

.list-of-categories a{
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-family: "Amazon Ember", Arial, sans-serif;
    color:#565959;
    padding: 10px;
}
.list-of-categories a:hover{
    text-decoration:underline;
}

.sections-container{
    position:absolute;
    top:55px; 
    width: 100%;
    /* width: 80%;
    left: 10%; */
    height: 100%;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}

 .left-section{
    height: 100%;
    grid-column: 1 / span 5;
    /* background-color: orangered; */
    
}
.center-section{
    height: 100%;
    grid-column: 6 / span 7;
    background-color:#1569C7;
}
.right-section{
    height: 100%;
    grid-column: 13 / span 3;
    background-color:#1ec715;
} 

.img-section{
    position: sticky;
    top: 50px;
    color: #565959;
    text-align: center;
    border: solid black 2px;
    width: 100%;
    height: 18%;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;

}

.big-img{
    width: 100%;
    height: 65%;
}
.big-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.small-img-container{
display: flex;
justify-content: center;
width: 100%;
height: 0;
padding-bottom: 14%;
gap: 1px;
}
.img-button{
    width: 13.5%;
    height: 0;
    padding-bottom: 13.5%;
    border-radius: 10%;
    border: none;
}
.img-button:hover{
    border: solid 2.5px #1196AB;
    /* box-shadow: 20px 20px 50px 2px transparent inset, 0 0 3px 1px #1196AB ; */
}
.button-1{
    background: url("./img/img1.jpg") no-repeat center center/cover;
}
.button-2{
    background: url("./img/img2.jpg") no-repeat center center/cover;
}
.button-3{
    background: url("./img/img3.jpg") no-repeat center center/cover;
}
.button-4{
    background: url("./img/img4.jpg") no-repeat center center/cover;
}
.button-5{
    background: url("./img/img5.jpg") no-repeat center center/cover;
}
.button-6{
    background: url("./img/img6.jpg") no-repeat center center/cover;
}
.button-7{
    background: url("./img/img7.jpg") no-repeat center center/cover;
}


/* .sponsored-text:hover{
    
    color: rgb(67, 67, 67);
} */

/* .ad-navbar::after{
    position: absolute;
    content: 'Sponsored<span><</span>';
    color: rgb(85, 85, 85);
    font-size: 11px;
    font-family: "Amazon Ember", Arial, sans-serif;
    text-decoration-style: solid ;
    bottom:-15px;
    right: 0;
    font-weight: bold;

} */
