*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100%; */
}


.header{
    width: 100vw;
}
.search-navbar{
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #131921;
}
.logo{
    position: absolute;
    left: 1px;
    top: 1px;
    height: 90%;
    width: 95px;
    background: url("./img/logo.png") no-repeat center center/cover;
    border: solid 1px transparent;
}
.logo:hover{
   border: solid 1px white;
}
.deliver{
    position: absolute;
    left: 103px;
    top: 1px;
    height: 90%;
    width: 95px;
    background: url("./img/nav_img2.png") no-repeat center center/cover;
    border: solid 1px transparent;
}
.deliver:hover{
    border: solid 1px white;
 }

 .search-container{
    display: flex;
    
    position: absolute;
    left: 200px;
    top: 10px;
    height: 90%;
    width: 615px;
    border: solid 1px transparent;
    /* border: saddlebrown solid 2px; */

 }
 .search{
    height: 75%;
    flex-grow: 4;
    
 }
 .select-title{
    height: 75%;
    width: 50px;
    /* text-align: center; */
 }
 .search-container option{
/* text-align: left; */
 }
 .search-img{
    height: 75%;
    width: 40px;
    background-color: #FEBD69;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
 }
 .search-img:hover{
    background-color:  #F3A847;
 }

 .flag{
    position: absolute;
    right: 340px;
    top: 1px;
    height: 89%;
    width: 95px;
    background: url("./img/nav_img3.png") no-repeat center center/cover;
    border: solid 1px transparent;
 }
 .flag:hover{
    border: solid 1px white;
 }

 .sign-in{
    position: absolute;
    right: 206px;
    top: 1px;
    height: 88%;
    width: 125px;
    background: url("./img/nav_img4.png") no-repeat center center/cover;
    border: solid 1px transparent;
 }
 .sign-in:hover{
    border: solid 1px white;
 }

 .returns{
    position: absolute;
    right: 103px;
    top: 1px;
    height: 88%;
    width: 95px;
    background: url("./img/nav_img5.png") no-repeat center center/cover;
    border: solid 1px transparent;
 }
 .returns:hover{
    border: solid 1px white;
 }

.cart{
    position: absolute;
    right: 1px;
    top: 1px;
    height: 90%;
    width: 95px;
    background: url("./img/nav_img6.png") no-repeat center center/cover;
    border: solid 1px transparent;
 }
 .cart:hover{
    border: solid 1px white;
 }





.second-navbar{
    height: 39px;
    width: 100%;
    background-color: #232F3E;
}
.third-navbar{
    height: 33px;
    width: 100%;
    border-bottom:solid 0.666667px rgba(0, 0, 0, 0.1);
}
.ad-navbar{
    position: relative;
    display: flex;
    height: 55px;
    width: 100%;
    background-color: #F6F7F8;
    border-bottom:solid 1.3px rgb(229, 231, 235);
    border-top:solid 0.666667px rgb(229, 231, 235);
    border-right:solid 0.666667px rgb(229, 231, 235);
    align-items: center;
    justify-content: center;
}
.ad-navbar .ad-img{
    height: 100%;
}

.main-container{
    position: relative;
    height: 300vh;
    width: 100%;
    /* border: solid 3px blue; */
    /* overflow: hidden; */
}
.sponsored-text{
    color: rgb(85, 85, 85);
    display: inline-block;
    vertical-align: text-bottom;
    margin: 1px 0px;
    line-height: 20px;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 11px;
    cursor: pointer;
}

/* .sponsored-text:hover{
    
    color: rgb(67, 67, 67);
} */

.sponsored-text-1{
    position: absolute;
    top: 2px;
    right:0px;
}
.list-of-categories {
    list-style-type:'›';
    margin: 8px;
    /* overflow: hidden; */
    /* list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px; */
}

.list-of-categories li {
    float: left;
    line-height: 14px;
  }
  .list-of-categories li:nth-child(1){
    list-style-type:none;
  }

.list-of-categories a{
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-family: "Amazon Ember", Arial, sans-serif;
    color:#565959;
    padding: 10px;
}
.list-of-categories a:hover{
    text-decoration:underline;
}

.main-container .sections-container{
    position:absolute;
    top:55px; 
    width: 100%;
    /* width: 80%;
    left: 10%; */
    height: 80%;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    border-bottom:solid 5px rgba(0, 0, 0, 0.1);
    /* border-bottom:solid 1.5px rgba(0, 0, 0, 0.1); */
}

 .left-section{
    height: 50%;
    grid-column: 1 / span 5;
    /* border: solid rgb(240, 11, 11) 2px; */
    /* background-color: orangered; */
    
} 
.img-section{
    position: sticky;
    top: 0px;
    z-index: 999;
    color: #565959;
    text-align: center;
    /* border: solid black 2px; */
    width: 100%;
    height: 30%;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.big-img{
    width: 100%;
    height: 65%;
}
.big-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.small-img-container{
display: flex;
justify-content: center;
width: 100%;
height: 0;
padding-bottom: 14%;
gap: 1px;
}
.img-button{
    width: 13.5%;
    height: 0;
    padding-bottom: 13.5%;
    border-radius: 10%;
    border: none;
}
.img-button:hover{
    border: solid 2.5px #1196AB;
    /* box-shadow: 20px 20px 50px 2px transparent inset, 0 0 3px 1px #1196AB ; */
}
.button-1{
    background: url("./img/img1.jpg") no-repeat center center/cover;
}
.button-2{
    background: url("./img/img2.jpg") no-repeat center center/cover;
}
.button-3{
    background: url("./img/img3.jpg") no-repeat center center/cover;
}
.button-4{
    background: url("./img/img4.jpg") no-repeat center center/cover;
}
.button-5{
    background: url("./img/img5.jpg") no-repeat center center/cover;
}
.button-6{
    background: url("./img/img6.jpg") no-repeat center center/cover;
}
.button-7{
    background: url("./img/img7.jpg") no-repeat center center/cover;
}

.center-section{
    height: 50%;
    grid-column: 6 / span 7;
    /* background-color:#1569C7; */
    display:flex;
    flex-direction:column;
}
.first-text-center{
    
    padding: 5px;
    width: 100%;
    height: 25%;
    border-bottom:solid 1.5px rgba(0, 0, 0, 0.1);
    color: rgb(15, 17, 17);
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 24px;
    line-height: 32px;
}
.center-section-p{

    display: inline;
    font-size: 14px;
    line-height: 20px;
}

.stars-img{
    height: 18px;
    width: 80px;
    background-image: url(./img/stars.png);
    background-position: -2px -42px;
}
.a-center-section{
    text-decoration: none;
    color: rgb(0, 113, 133);
    cursor: pointer;
    display: inline;
    font-size: 14px;
    line-height: 20px;
}
.a-center-section:hover{
text-decoration: underline;
}
.ratings-center-section{
    /* border: saddlebrown solid 2px; */
    padding-bottom: 0;
    padding-top: 0;
    font-size: 14px;
    display: flex;
}

.second-text-center{
    border-bottom:solid 1.5px rgba(0, 0, 0, 0.1);
}
.second-text-center img{
    width: 100%;
}
.second-text-center th{
    text-align: left;
    padding:0 60px 0 0;
    
}
.third-text-center{
    padding-top: 10px;
    /* border: solid saddlebrown 2px; */
}
.third-text-center h1{
    padding: 0 0 4px;
    font-size: 16px;
    font-family: "Amazon Ember", Arial, sans-serif;
}
.third-text-center ul{
    padding-left: 18px;
}

.third-text-center li{
    padding-left: 10px;
    font-size: 14px;
    line-height: 20px;
    font-family: Arial,sans-serif;
}

.right-section{
    height: 50%;
    grid-column: 13 / span 3;
    /* border: solid rgb(240, 11, 11) 2px; */
    /* background-color:#1ec715; */
}

.carousel{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 400px;
    /* border: solid seagreen 3px; */
} 


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
    
  .gallery {
    background: white;
  }
  
  .gallery-cell {
    width: 13.5%;
    height: 350px;
    margin-right: 10px;
    background: #8c8;
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: '';
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  .js-flickity{
    height: 100%;

  }

  .gallery-cell-1{
    background: url("./img/gallery_img1.png") no-repeat center center/cover;
  }
  .gallery-cell-2{
    background: url("./img/gallery_img2.png") no-repeat center center/cover;
  }
  .gallery-cell-3{
    background: url("./img/gallery_img3.png") no-repeat center center/cover;
  }
  .gallery-cell-4{
    background: url("./img/gallery_img4.png") no-repeat center center/cover;
  }
  .gallery-cell-5{
    background: url("./img/gallery_img5.png") no-repeat center center/cover;
  }
  .gallery-cell-6{
    background: url("./img/gallery_img6.png") no-repeat center center/cover;
  }
  .gallery-cell-7{
    background: url("./img/gallery_img7.png") no-repeat center center/cover;
  }
  .gallery-cell-8{
    background: url("./img/gallery_img8.png") no-repeat center center/cover;
  }
  .gallery-cell-9{
    background: url("./img/gallery_img9.png") no-repeat center center/cover;
  }
  .gallery-cell-10{
    background: url("./img/gallery_img10.png") no-repeat center center/cover;
  }
  .gallery-cell-1{
    background: url("./img/gallery_img1.png") no-repeat center center/cover;
  }

  
  


  
  